@import "tailwindcss";

@plugin "daisyui" {
  themes: siballe --default;
}

@plugin "daisyui/theme" {
  name: "siballe";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: #ffffff;
  --color-base-200: #fafafa;
  --color-base-300: #f0f0f0;
  --color-base-content: #1c1c1f;
  --color-primary: #ff9800;
  --color-primary-content: #2b1400;
  --color-secondary: #9c27b0;
  --color-secondary-content: #ffffff;
  --color-accent: #f44336;
  --color-accent-content: #2b0a06;
  --color-neutral: #1c1c1f;
  --color-neutral-content: #f0f0f0;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
